.btn-container {
    display: flex;
    justify-content: left;
    gap: 1rem;
}

#projects {
    margin: 0 15rem;
    padding-top: 15vh;
    height: 80vh;
}

.experience-detail-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.details-container-project {
    padding: 1.5rem;
    flex: 1;
    background: var(--grey);
    border-radius: 1rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.project {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.project-img {
    border-radius: 2rem;
    width: 80%;
    height: 80%;
}

.experience-detail-container-project {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.btn-container-project {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn-project {
    color: black;
    border-color: rgb(163, 163, 163);
}
