/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;1,100;1,200;1,900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Poppins:ital,wght@0,200;0,600;1,100;1,200;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald, sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{ /*Cria variáveis para serem usadas no próprio arquivo*/
    --green:#0dac6f;
    --white:#fff;
    --dark:#1e1c2a;
    --grey: #f2f2f2;
}

body{
    color: var(--dark);
    background: var(--grey);
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: #0dac6f;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc; /*Sombra na barra*/
    width: 100%;
    background: var(--grey);
    transition: all 0.5s;
    position: fixed; /*Para ficar fixo a barra em cima*/
    z-index: 1; /*Corrige o bug da sobreposição da home*/
}

.navigation .logo{
    color: var(--green);
    font-size: 1.7rem;
    font-weight: 600;
}

.logo span{
    color: var(--dark);
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem; /*Ele que vai deixar afastado o home do aboult e etc*/
}

.navigation ul li a{
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.navigation ul li a:hover{ /*Ele que muda a cor da letra quando passa o mouse*/
    color: var(--green);
}

.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}

.menu{
    cursor: pointer;
    display: none; /*Nessa configuração, vai ser isso que vai jogar o menu para o canto*/
}

.menu .bar{ /*São as 3 barrinhas laterais*/
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1), /*Serve para estilizar a cor das 3 barrinhas*/
.menu .bar:nth-child(3){
    background: var(--green);
}

/*Configuração do main*/

.icon {
    cursor: pointer;
    height: 2rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1-section,
.btn-color-2-section {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1-section:hover,
.btn-color-2-section:hover {
  cursor: pointer;
}

.btn-color-2-section,
.btn-color-1-section:hover {
  background: rgb(0, 0, 0);
  color: var(--grey);
}

.btn-color-1-section:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2-section:hover {
    border: var(--grey) 0.1rem solid;
}

.btn-color-1-section {
    background: none;
}

.arrow {
  position: absolute;
  right: 1.5rem;
  bottom: 2.5rem;
}

/*efeito de que está surgindo o texto em tela*/
@keyframes boot {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
/*efeito de que está digitando*/
@keyframes pisca {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@media (max-width:785px) {
    .navigation{
        padding: 18px 20px;
    }

    .menu{
        display: block;
    }

    /*Configura o x no lugar das duas barras no menu*/
    .menu.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2){
        opacity: 0;
    }

    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        right: -100%; /*É isso que faz o menu sumir*/
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--grey);
        gap: -10px;
        transition: 0.3s;
    }

    /*Ele q vai configurar o menu na lateral*/
    .nav-menu.ativo{
        right: 0;
    }

    .nav-item{
        margin: 16px 0;
    }

    /*main*/
    .home{
        animation: boot .7s forwards;
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        width: 125%;
    }    
}

@media (max-width: 1080px) {

    .details-container-project {
        animation: boot .7s forwards;
        position: relative;
        padding: 5.5rem;
        flex: 1;
        border-radius: 0.5rem;
    }

    #projects h1 {
        margin-bottom: 10px;
    }
}

@media (max-width: 740px) {
    
    section {
        width: 400px;   
    } 
    
    #home {
        flex-direction: column;
        /* height: 80vh;
        padding: 0% 10%;
        margin: 0px auto 0px auto;
        max-width: 1200px; */
        /* animation: boot .7s forwards;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20% 10%; Importante para mexer na foto*/
        padding: 25% 10%;
        display: grid;
        height: 100px;
        width: 400px;
    }

    .home-img {
        /* width: 70%;
        max-width:740px;
        transition: all 0.5s; */
        display: none;
    }

    .section-container-pic {
        display: none;
        width: 0px;
    }

    #about {
        padding-top: 30vh;
    }


    .text-container {
        text-align: justify;
    }

    /* #projects {
        padding-bottom: 1vh;
    } */

    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }

    .experience-detail-container {
        position: relative;
    }

    #projects {
        margin: 0 auto 120px auto;
        padding: 20px;
        width: auto;
    }

    #projects .about-container {
        display: flex;
        gap: 40px;
        padding-bottom: 20px;
        overflow-x: auto;
    }

    #contact {
        margin: auto;
        padding-top: 0vh;
        height: 60vh;
    }

}




